<main>
  <!-- <div *ngFor="let user of users$ | async">
    {{ user.name }}
  </div> -->
  <!-- <div *ngFor="let filteredUser of filteredUser$ | async">
    {{ filteredUser.name }}
  </div> -->

  <!-- {{ user$?.name | async }} -->

  <!-- <div *ngFor="let userName of userName$ | async">
    {{ userName }}
  </div>

  <hr />

  <div *ngFor="let user of userList">
    {{ user.name }}
  </div> -->

  <hr />

  <div *ngIf="data$ | async as data">
    <div *ngFor="let user of data.users">
      {{ user?.name }}
    </div>
    <hr />
    <div *ngFor="let userName of data.userNames">
      {{ userName }}
    </div>
    <hr />
    <div *ngFor="let filteredUser of data.filteredUsers">
      {{ filteredUser?.name }}
    </div>
  </div>
  
  <hr />

  <!-- <div *ngIf="user$ | async as user">
    {{ user?.name }}
  </div> -->


</main>

<!-- <router-outlet></router-outlet> -->